@page "/stylePage"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Query parameter style will apply for below text</h3>
@inject NavigationManager navManager
<PageTitle>StylePage</PageTitle>
<p class="@titleStyle">
    Hello, I am Text @userName
</p>
@code {
    [SupplyParameterFromQuery]
    public string titleStyle { get; set; }
    public string userName { get; set; } = "ZOBI";

    protected override async Task OnInitializedAsync()
    {
        await GetLoggedInUserName();
    }

    private async Task<string> GetLoggedInUserName()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            userName = user?.Identity?.Name;
        }

        return userName;
    }
}
